@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');
.footer{
    width: 100%;
    min-height: fit-content;
    background-color: black;
    display:flex;
    position: relative;
    align-items: center;
    justify-content: space-evenly;
    padding: 30px;
    box-sizing: border-box;
}

.contact{
    padding: 10px;
    margin: 5px;
    color: white;
    border: 2px solid white;
    min-height: 100px;
    width: calc(100% /3);
}

.address{
    padding: 10px;
    margin: 5px;
    color: white;
    border: 2px solid white;
    min-height: 100px;
    width: 33%;
}
.copyright{
    padding: 10px;
    margin: 5px;
    color: white;
    border: 2px solid white;
    min-height: 100px;
    width: 33%;
}
